{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<h1>Accueil</h1>
	<div class='row row-cols-1 row-cols-md-2'>

		<div class="card mb-3">
			<img src={{asset('img/accueil/jeune.jpg')}} class="card-img-top" alt="...">
			<div>
				<a href="#" class="btn btn-primary">Je suis un jeune</a>
			</div>

		</div>
		<div class="card">
			<div class="card-body">
				<img src={{asset('img/accueil/mentor.jpg')}} class="card-img-bottom" alt="...">
			
			<a href="#" class="btn btn-primary">Je suis un professionnel</a>
            </div>
	</div>
</div>{% endblock %}
